".source.js":
  "console.log":
    "prefix": "i"
    "body": "console.info(${1:obj});"

  "test":
    "prefix": "f"
    "body": "function(${1:}) {\n\n${0}}"

  "return":
    "prefix": "r"
    "body": "return ${1:};"

  "return":
    "prefix": "b"
    "body": "bind(${1:this})"
